 <div *ngIf="!globals.addNewRecipeGlobal && !globals.updateRecipeGlobal && mealPlan">
 	<h2>{{mealPlan.name }}</h2>
 	<div *ngFor="let mealPlanDetail of mealPlanDetails" >	
 		 
		Recipe:{{mealPlanDetail.recipe.name}} - <span (click)="onUpdateRecipe(mealPlanDetail)" style="text-decoration: underline;cursor: pointer;color:blue;"> Update {{mealPlanDetail.recipe.name}} </span> <br>
 		Meal planned for: {{mealPlanDetail.meal.dayOfTheWeek}} - {{mealPlanDetail.meal.mealType}} <br>
 		Ingredients: {{mealPlanDetail.ingredient.name}} ({{mealPlanDetail.ingredient.description}}) - 
 			{{mealPlanDetail.portion.quantityType}}  {{mealPlanDetail.portion.quantity}} 
 			 <hr>
 			 
	</div>
	<h3>All Ingredients</h3>
   <div *ngFor="let mealPlanDetail of mealPlanDetails" >	
  		 {{mealPlanDetail.ingredient.name}} ({{mealPlanDetail.ingredient.description}}) - 
 			 {{mealPlanDetail.portion.quantityType}}  {{mealPlanDetail.portion.quantity}}
   </div>

</div>
