<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome To {{ title }}!
  </h1>
</div>
<div>
<nav>
  <a routerLink="/mealplans">Meal Plans</a> | 
  <a routerLink="/recipes">Recipes</a> |
  <a routerLink="/ingredients">Ingredients</a>
  
</nav>
</div>
<div>
<router-outlet></router-outlet>
<app-messages></app-messages>
</div>


