
<div>
<h2>MealPlans</h2>
<ul class="mealPlans">
	<li *ngFor="let mealPlan of mealPlans" [class.selected]="mealPlan === selectedMealPlan" >	
		
		<span (click)="onSelect(mealPlan)" class="badge" >{{mealPlan.name}} - week {{mealPlan.week}}</span>
		  <span (click)="onAddNewRecipe(mealPlan)" > Add new recipes </span> 
	</li>

</ul>
 
	<app-mealplan-detail [mealPlan]="selectedMealPlan" [mealPlanDetails]="mealPlanDetails"  ></app-mealplan-detail>
 
<div *ngIf="globals.updateRecipeGlobal || globals.addNewRecipeGlobal">
 <app-mealplan-recipe-form (messageEvent)="receiveEvent($event)" [mealPlan]="selectedMealPlan" [addNewRecipe]="globals.addNewRecipeGlobal" [updateRecipe]="globals.updateRecipeGlobal"> </app-mealplan-recipe-form>
 </div>
</div>
