 <div [hidden]="submitted">
 <div *ngIf="(mealPlan && globals.addNewRecipeGlobal) || (globals.mealPlanDetail && globals.updateRecipeGlobal)">
 <h2 *ngIf="addNewRecipe">Add new recipe for {{mealPlan.name}}</h2>
 <h2 *ngIf="updateRecipe">Update for {{globals.mealPlanDetail.mealPlan.name}}</h2>
 addNewRecipe: {{addNewRecipe}}, updateRecipe: {{updateRecipe}}
 <div class="container">
 	<form #mealRecipeForm="ngForm" (ngSubmit)="onSubmit()">
     <div class="form-group">
 	   <label for="name">Name</label>
       <input [(ngModel)]="recipeForm.name" placeholder="name" id="name" name="name" required class="form-control"> {{recipeForm.name}}
      </div>
      
       <div class="form-group">
        <label for="ingredientId">Select Ingredient</label>
        <select  required class="form-control" id="ingredientId"
          [(ngModel)]="recipeForm.ingredientId" name="ingredientId">
	    	<option *ngFor="let ingredient of ingredients" [value]="ingredient.id">{{ingredient.name}}</option>
	  </select>
	  </div>
	  
	   <div class="form-group">
      	<label for="quantity">Select ingredient quantity and type:</label>
      	<input type="number" placeholder="1" name="quantity"  [(ngModel)]="recipeForm.quantity" id="quantity">
	      <select required   [(ngModel)]="recipeForm.quantityType" name="quantityType">
	      		<option value="count">count</option>
	      		<option value="cup">cup</option>
	      		<option value="tbsp">tbsp</option>
	      </select>
	     </div> 
   
   <div class="form-group">
     <label for="dayOfTheWeek">Which day?</label>
  	<select required   [(ngModel)]="recipeForm.dayOfTheWeek" name="dayOfTheWeek" id="dayOfTheWeek">
     		<option value="Monday">Monday</option>
      		<option value="Tuesday">Tuesday</option>
      		<option value="Wednesday">Wednesday</option>
      		<option value="Thursday">Thursday</option>
      		<option value="Friday">Friday</option>
      		<option value="Saturday">Saturday</option>
      		<option value="Sunday">Sunday</option>
     </select>
    </div> 
    <div class="form-group">
     <label for="mealType">What meal type?</label>
     <select required   [(ngModel)]="recipeForm.mealType" name="mealType" id="mealType">
     		<option value="breakfast">Breakfast</option>
     		<option value="eleventses">Eleventses</option>
      		<option value="lunch">Lunch</option>
      		<option value="dinner">Dinner</option>
      		<option value="snack">Snack</option>
     </select>
    </div> 
     <button type="submit" class="btn btn-success">Submit</button>
 </form>
 </div>

</div> 
</div>

 <div [hidden]="!submitted">
 	Recipe - <b>{{recipeForm.name}}</b> - has been successfully created!
 </div>
 

